/* color */
@value makerGreen, makerWhite from '../../common/colors.css';

/* margine-size */
@value margineSmallSize from '../../common/size.css';

.cardMaker,
.cardPreview {
  background-color: makerWhite;
  height: 100%;
  width: 50%;
}

.header {
  padding: margineSmallSize;
  color: makerGreen;
}

.box {
  height: 70%;
  display: flex;
}

.main {
  background-color: makerGreen;
  flex-direction: column;
  width: 80%;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .box {
    flex-direction: column;
  }
  .cardMaker,
  .cardPreview {
    height: 100%;
    width: 100%;
  }
}
