/* color */
@value makerGreen, makerWhite from '../../common/colors.css';

.box {
  background-color: makerWhite;
  height: 80%;
  display: flex;
}

.main {
  background-color: makerGreen;
  width: 80%;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .box {
    flex-direction: column;
  }
}
