@value makerGreen from '../../common/colors.css';

.cardMaker {
  flex-basis: 50%;
  overflow: scroll;
}

.title {
  color: makerGreen;
}
@media screen and (max-width: 1000px) {
  .cardMaker {
    flex-direction: column;
    width: 80%;
  }
}
