@value makerGreen from '../../common/colors.css';

@value margineSmallSize from '../../common/size.css';
.cardMaker {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;

  overflow: scroll;
  height: 100%;
}

.title {
  color: makerGreen;
  margin: margineSmallSize;
}
@media screen and (max-width: 1000px) {
  .cardMaker {
    flex-direction: column;
    width: 80%;
  }
}
