/* color */
@value makerGrey from './common/colors.css';

/* font-size */
@value fontSmallSize, fontMediumSize, fontLargeSize from './common/size.css';

/* margine-size */
@value margineSmallSize, margineMediumSize, margineLargeSize from './common/size.css';

/* font-WeightSize */
@value fontWeightSmallSize, fontWeightMediumSize, fontWeightLargeSize from './common/size.css';

* {
  box-sizing: border-box;
}

h1 {
  font-weight: fontWeightLargeSize;
  font-size: margineMediumSize;
}

span {
  font-weight: fontWeightMediumSize;
}
button {
  font-weight: fontWeightMediumSize;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerGrey;
}
